{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
      <div class="row">

		<nav class="col-2 d-md-block bg-light sidebar">
			<div class="sidebar-sticky p-4">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link" href="/app">帳務總覽</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/app/settings">設定</a>
					</li>
				</ul>
			</div>
		</nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          	<div class="d-flex flex-wrap justify-content-between flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
				<h1 class="page-header">分類設定</h1>
          	</div>

			<form action="/app/add_category" method="post">
				{% csrf_token %}
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="請輸入分類" name="add_category_name">
					<div class="input-group-append">
					<button class="btn btn-dark" type="submit">新增分類</button>
					</div>
				</div>
			</form>
			<br/>

			<table class="table table-scrollable">
				<thead>
					<tr>
						<th>分類</th>
					</tr>
				</thead>
				<tbody>
					{% for category in categories %}
					<td>
						<div class="col-8 .col-sm-6">{{ category.category }}</div>
						<div class="col-8 .col-sm-6"><a href="/app/delete_category/{{ category.category }}">刪除</a></div>	
					</td>
					{% endfor %}
				</tbody>
			</table>
        </main>

     </div>
</div> 
{% endblock %}